

.background-image{
	position: fixed;
	left: 0;
	right: 0;
	z-index: -1;

	background-image: url("/img/style/ground.png");
	background-repeat: repeat;
	width: 100%;
	height: 100%;
	/*filter: blur(10px);*/
}

.top-container{
	width: +0%;
}

nav.navbar{
	width: 1200px;
	background-color: rgb(252,252,252);
	padding: 0px;
	border-width: 0px;
	max-height: 140px;
}

.nav.navbar-nav li a{
	font-size: 13pt;
}

.nav.navbar-nav li a:link{
	color: #761c19;
}

.nav.navbar-nav li a:visited{
	color: #761c19;
}

.nav.navbar-nav li a:hover{
	color: #ffe8ce;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover{
	background-color: #ffbf00;
}

ul.dropdown-menu li a:hover{
	background-color: #834824;
	color: white;
}

.dropdown-menu{
	background-color: #ffbf00;
}

.dropdown-menu li a:hover{
	background-color: #ffbf00;
	color: white;
}

.btn.btn-info.btn-lg{
	color: #ff9400;
	background-color: Transparent;
	background-repeat:no-repeat;
	border: none;
	cursor:pointer;
	overflow: hidden;
	outline:none;
}

.btn{
	border-radius: 0px;
}

.download-btn{
	color: white;
	font-size: 14pt;
	background-color: #ffbf00;
}

.download-btn:hover{
	background-color: #834824;
	color: white;
}

#clNavbar{

}

a.navbar-brand:link{
	color: #f9e6b1;
}

a.navbar-brand:visited{
	color: #f9e6b1;
}

.body-main{

}

.site-block{
	padding: 20px;
	background-color: #ffffdd;
}

.header-number{
	font-size: 16pt;

}

.post-title{
	font-size: 15pt;
}

.post-image{
	width: 100%;
}

.upper-panel{
	background-image: url("/img/style/HEAD.png");
	background-size: 100%;
	background-repeat: no-repeat;
	width: 100%;
	min-height: 90px;
	padding: 0px;
}

.primary-panel{
	padding: 3%;
	background-color: rgb(252,252,252);
	border-radius: 0px;
}

.body-panel{

}

.footer-panel{

}

.news-panel{
	border-radius: 0px;
}

.news-panel p{
	padding: 20px;
}

.btn-info {
	background-color: #ffbf00;
	color: black;
	border: hidden;
}

.btn-info:hover{
	background-color: #834824;
}

.btn-info:focus{
	background-color: #ffbf00;
	border: hidden;
}

.btn-info:active{
	background-color: #bf8f00;
	border: hidden;
}

.btn-info.btn-sm{
	font-size: 10pt;
	color: white;
}

.btn-page{
	background-color: #ffd000;
	font-size: 15pt;
	color: white;
}

.container{
	padding: 10px;
}

.skin-image{
	width:32px;
	height:32px;
	background-position: -32px -32px;
	transform: scale(3);
	margin: 32px;
	/*background-size: 0.125% 0.25%;
	background-repeat: no-repeat;*/
}
/*.skin-image img{
	margin:0;
	position:absolute;
	top:-25%;
	left:-12.5%;
	clip-path: inset(25% 75% 50% 12.5%);
}*/

.news-panel .panel-footer{
	height: 50px;
	padding: 10px;
	border-bottom: 5px solid #ffbf00;
	border-radius: 0px;
}

.panel-footer-date{
	height: 39px;
	float: left;
	padding-right: 5px;
	padding-left: 5px;
	text-align: center;
	vertical-align: middle;
	line-height: 50px;
	color: #834824;
}

.panel-footer-addedby{
	line-height: 50px;
	text-align: center;
	vertical-align: middle;
	color: #834824;
}

.comment{
	border-radius: 0px;
	border-width: 0px;
}

.comment .panel-heading{
	background-color: #ffbf00;;
}

.comment .panel-body{
	background-color: rgb(252,252,252);
}

@keyframes added {
	from {
		opacity: 0;
		top: -500px;
	}
	to {
		opacity: 1;
		top: 0px;
	}
}

@keyframes deleted {
	from {
		top: 0;
		opacity: 1;
	}
	to {
		top: 200px;
		opacity: 0;
	}
}

.animate.ng-enter
{
	animation: 0.15s linear added;
}

.animate.ng-leave{
	animation: 0.15s linear deleted;
}