{% extends 'base.html.twig' %}

{% block body_header %}
    Одмены
{% endblock %}

{% block body %}
    <p>Naman - Ебошит ништяки</p>
    <p>amruadm - какой то неизвестный чел, что то вечно колдующий в своих чертогах, анонимен и вапще это какой то левый акк.</p>
    <p>Joey - просто джо. Строитель большого будущего.</p>
{% endblock %}