{% extends 'base.html.twig' %}

{% block body_header %}
    Ответы на часто задаваемые вопросы
{% endblock %}

{% block body %}
    <p>Вопрос: <span style="color: #5cb85c">Одмен, дай алмазиков, плес!</span></p>
    <p>Ответ: <span style="color: #99CDD8">Хуй те школьник, сам копай беать!</span></p>
{% endblock %}