{% extends 'base.html.twig' %}

{% block body %}

    <div class="panel primary-panel body-panel">
        <h2>Опачки, чё то где то не так :/ </h2>
        Подсказочка админу: {{ reason }}
    </div>
{% endblock %}