{% extends 'base.html.twig' %}

{% block body_header %}

{% endblock %}

{% block body %}
	<div ng-controller="postController">
		<div class="panel panel-default news-panel" style="border: 0px;" ng-repeat="post in posts">
			<div class="panel-heading">
				<span class="post-title">{[{ post.title }]}</span>
			</div>
			<div class="panel-body" style="padding: 0px;">
				<img src="{[{ '/img/uploads/' + post.image }]}" class="post-image" />
				<p>
					{[{ post.body }]}
				</p>
				<div class="col-sm-4"></div>
				<div class="col-sm-8 text-right" style="margin-bottom: 10px;">
					<button class="btn btn-page" ng-click="viewPost(post.id);">Подробности</button>
				</div>
			</div>
			<div class="panel-footer" style="height: 40px; padding: 10px">
				<div class="row">
					<div class="col-sm-4">
						Добавил: {[{ post.added_by.login }]}
					</div>
					<div class="col-sm-8 text-right">
						Дата: {[{ post.added_date | date: 'yyyy-MM-dd' }]}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	<script type="application/javascript">

	</script>
{% endblock %}