
Здравствуйте!
Вас приветствует администрация сайта CRAFT-LIFE.FUN

Вы указали ваш адрес электронной почты при регистрации пользователя {{ login }}.

Для подтверждения вашего аккаунта необходимо перейти по ссылке:

<a href="http://craft-life.fun/confirm/{{ hash }}">http://craft-life.fun/confirm/{{ hash }}</a>

Обращаем ваше внимание, что в случае, если через 3 дня переход по ссылке не будет осуществлён, то процесс регистрации будет автоматически отменён.


-----------------------------

С уважением,
Администрация CRAFT-LIFE.FUN