
Здравствуйте!<br />
Вас приветствует администрация сайта CRAFT-LIFE.FUN<br />

Вы указали ваш адрес электронной почты при регистрации пользователя {{ login }}.<br />

Для подтверждения вашего аккаунта необходимо перейти по ссылке:<br />

<a target="_blank" href="http://craft-life.fun/confirm/{{ hash }}">http://craft-life.fun/confirm/{{ hash }}</a><br />

Обращаем ваше внимание, что в случае, если через 3 дня переход по ссылке не будет осуществлён, то процесс регистрации будет автоматически отменён.<br />
<br />
<br />
-----------------------------<br />
<br />
С уважением,<br />
Администрация CRAFT-LIFE.FUN<br />