{% extends 'base.html.twig' %}

{% block body %}
    <div class="panel primary-panel body-panel">
        Ваш E-Mail успешно подтверждён. Нажмите Вход и введите логин и пароль что бы войти.
    </div>
{% endblock %}