<br />
Здравствуйте!<br />
Вас приветствует администрация сайта CRAFT-LIFE.FUN<br />
<br />
Вы отправляли запрос на восстановление пароля. Для этого перейдите по ссылке:<br />

<a target="_blank" href="http://craft-life.fun/recovery/{{ login }}?hash={{ hash }}">http://craft-life.fun//recovery/{{ login }}?hash={{ hash }}</a><br />
<br />
<b><span style="color: red;">Внимание! Во избежании кражи вашей учётной записи никому не показывайте это сообщение!</span></b>
<br />
<br />
-----------------------------<br />
<br />
С уважением,<br />
Администрация CRAFT-LIFE.FUN<br />