{% extends 'base.html.twig' %}

{% block body %}

{% if error is not empty %}
	<p style="color: red;">{{ error }}</p>
{% endif %}

{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}

{% endblock %}