<ul>
    <li>Доступны все возможности от пакета VIP-услуг.</li>
    <li>Возможность установки 4 домов /sethome &lt;name&gt;</li>
    <li>Создание 4 приватных территорий по 100 тысяч блоков</li>
    <li>Доступные флаги для приват-зон у Premium-пакета услуг, описаны на сайте в разделе "Игровые команды".</li>
    <li>Возможность выделять текст цветом в игровом чате: &[код цвета][текст]</li>
</ul>