{% extends 'base.html.twig' %}

{% block body_header %}
    Услуги
{% endblock %}

{% block body %}
    <div class="panel primary-panel body-panel">
        <h1 align="center" class="body-header">Услуги</h1>
        ...
    </div>
{% endblock %}