<ul>
    <li>Возможность установки 2 домов /sethome &lt;name&gt;</li>
    <li>Создание 2 приватных территорий по 100 тысяч блоков</li>
    <li>Доступные флаги для приват-зон у VIP-пакета услуг, описаны на сайте в разделе "Игровые команды".</li>
    <li>Возможность отключить PvP-режим /pvp on/off</li>
    <li>Возможность вернуться к месту последней смерти /back</li>
    <li>Возможность восполнить голод /feed</li>
    <li>Изменение цвета имени в чате /nick</li>
</ul>