{% extends 'base.html.twig' %}

{% block body_header %}
    Услуги
{% endblock %}

{% block body %}
    <button class="btn btn-info lg" onclick="alert('За табой выехоли!')">Пакет "Яровой" 100 рублей! Преамосийчас!</button>
{% endblock %}