{% extends 'base.html.twig' %}

{% block body_header %}
    Опубликовать новость
{% endblock %}

{% block body %}
    <div class="panel primary-panel body-panel">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
